.app_container {
  height: 100vh;
  width: 100vw;
  background-color: #b5d8ff;

  margin: auto auto;
  overflow: hidden;
}
.wrapper_div {
  width: 100%;
  height: 100%;
  display: flex;
}
.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  height: 90%;
  width: 72%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.first_conatiner {
  height: 90vh;
  max-width: 32%;
  width: 100%;
  background-color: #5c9ce5 !important;
  position: relative;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
}
.second_container {
  background-color: #e4f1ff;
  position: absolute;
  top: 0px;
  height: 82vh;
  width: 45rem;
  left: 87%;
  border-radius: 30px;
}
.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-dots span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;

  cursor: pointer;
}

.pagination-dots span.active {
  background-color: #ffffff;
  width: 7px;
  height: 7px;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
}

/*=====================*/
.checkbox {
  position: relative;
  display: inline-block;
}
.checkbox:after,
.checkbox:before {
  font-family: FontAwesome;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 90px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
}
.checkbox label:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:checked + label:after {
  left: 40px;
}

.model-5 .checkbox label {
  background: #bbb;
  height: 10px;
  width: 34px;
}
.model-5 .checkbox label:after {
  background: #fff;
  top: -6px;
  width: 20px;
  height: 20px;
}

.model-5 .checkbox input:checked + label:after {
  left: 17px;
}

.add_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_btn {
  padding: 3px 4px;
  border-radius: 7px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_btn div {
  font-size: 20px;
}
.inner_wrapper {
  width: 74%;
  height: 88%;
  margin: 0 20px;
  /* background: red; */
}
.degree_converter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.degree_converter p {
  margin: 0;
  color: white;
  font-size: 13px;
}
.degree_converter section {
  margin: 0 5px;
}
.city_time_container {
  font-size: 14px;
  color: white;
  padding: 40px 0;
}
.city_time_container span {
  font-size: 16px;
  margin-right: 5px;
}
.city_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city_name {
  display: flex;
  justify-self: start;
  align-items: center;
}
.city_name p {
  margin: 0;
}
.day {
  margin-top: 8px;
}
.day p {
  font-size: 12px;
}
.slider_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_content-wrapper {
  max-width: 200px;
  width: 100%;
  /* height: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.slider_wrapper button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #c4c1c1;
}
.slide_content-wrapper .Slide-data {
  display: flex;
  flex-direction: column;
}
.slide_content-wrapper h1 {
  font-size: 5rem;
  margin: 0;
  color: white;
}
.weather_data {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-top: 10px; */
  color: white;
  margin: 0;
}
.weather_data span {
  margin-right: 10px;
  font-size: 20px;
}
.weather_data p {
  margin: 0;
  font-size: 20px;
}
.first_conatiner {
  background: url("./assets/images/background-image.png") transparent;
  background-repeat: no-repeat;
  /* background-size: cover;
  background-position: bottom; */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 300px;
}
#chart {
  max-width: 100;
}
.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.profile_container img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome_container p {
  margin: 0;
}
.welcome_container h2 {
  margin: 0;
}
.second_container {
  padding: 30px 40px;
}
.profile_container .profile_dots {
  margin-right: 20px;
  font-size: 30px;
  margin-bottom: 14px;
  font-weight: 700;
  cursor: pointer;
}
.graph-container {
  padding: 15px 17px;
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
}
.hover-dropdown {
  margin-right: 20px;
}
.hover-dropdown button,
.next-days button {
  background-color: #ebebeb;
  border-radius: 20px;
  border: none;
  padding: 3px 11px;
  font-size: 11px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-menu {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  width: fit-content;
  background-color: rgb(197, 197, 197);
  text-align: start;
  width: 90px;
  position: absolute;
  z-index: 999;
  margin-top: -1px;
  cursor: pointer;
}
.chart-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.chart-labels label {
  font-size: 14px;
  font-weight: 400;
}
.chart-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.multiple-charts {
  /* background-color: red; */
  width: 100%;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 110px 110px 110px;
  grid-gap: 16px 24px !important;
}
.box {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}
